<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Formulário de cadastro de notícia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Adicionar notícia</h1>
        <br>

        <% if (validacao) { %>
            <ul>
                <% for (var i = 0; i < validacao.length; i++) { %>
                    <li>
                        <%= validacao[i].msg %>
                    </li>
                <% } %>
            </ul>
        <% } %>

        <form action="/noticias/salvar" method="POST">
            <label for="">Título da notícia</label>
            <input type="text" id="titulo" name="titulo" value="<%= noticia.titulo %>" placeholder="titulo da noticia">
            <br>
            <label for="">Resumo</label>
            <input type="text" id="resumo" name="resumo" value="<%= noticia.resumo %>" placeholder="resumo da noticia">
            <br>
            <label for="">Nome autor</label>
            <input type="text" id="autor" name="autor" value="<%= noticia.autor %>" placeholder="Autor da noticia">
            <br>
            <label for="">Data dos fatos</label>
            <input type="date" id="data_noticia" name="data_noticia" value="<%= noticia.data_inicio %>" placeholder="data da noticia">
            <br>
            <label for="">Notícia</label>
            <textarea type="text" id="noticia" name="noticia" rows="5" cols="30"><%= noticia.noticia %></textarea>
            <br>
            <input type="submit" value="Enviar">
            
        </form>
    </body>
</html>