<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Notícias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Notícias</h1>
        <table border="1">
            <tr>
                <td>ID</td>
                <td>Titulo</td>
            </tr>
            <% for (var i=0; i < noticias.length; i++){ %>
                <tr>
                    <td><%= noticias[i].id_noticia %></td>
                    <td><%= noticias[i].titulo %></td>
                </tr>
            <% } %>
        </table>
    </body>
</html>