<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Notícia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h2><%= noticia[0].titulo %></h2>
        <p><%= noticia[0].noticia %></p>
    </body>
</html>